.button {
    color: white;
    border-style: none;
    border-radius: 3px;
    outline: none;
    border: 1px solid;
    background-color: transparent;
    margin: 0px 0px 0px 10px;
}

.button:hover {
    cursor: pointer;
}

.button:disabled {
    cursor: default;
    opacity: 0.5;
}

.submit {
    background-color: #007acc;
    border-color: #007acc;
}

.edit {
    color:#1e1e1d;
    background-color: #007acc;
    border-color: #007acc;
}

.delete {
    border-color: #cf6679;
    background-color: #cf6679;
    color: #1e1e1e;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    height: 100%;
    width: 100%;
}

.icon:hover {
    cursor: pointer;
}

.icon:disabled {
    cursor: default;
}

.small {
    height: 36px;
    width: 36px;
}

.medium {
    width: 120px;
    height: 30px;
}