.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    position: relative;
}

.listContainer {
    max-width: 1260px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formContainer {
    display: flex;
    align-items: center;
}
